doctype 5
html
  head
    title PeerCast Developer's YP
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js')
    script(src='//ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js')
    script(src='//code.jquery.com/jquery-2.0.0.min.js')
    script(src='//localhost:35729/livereload.js')
  body
    .wrapper
      .navbar.navbar-inverse.navbar-fixed-top
        .navbar-inner
          .container
            ul.nav
              li(class='#{ name === 'list' ? 'active' : '' }')
                a(href='#{ name === 'list' ? '#' : 'list.html' }')
                  チャンネルリスト
              li(class='#{ name === 'info' ? 'active' : '' }')
                a(href='#{ name === 'info' ? '#' : 'info.html' }')
                  このサービスについて
            a.nav.pull-right.brand(href='#{ name === 'index' ? '#' : '/' }')
              |PeerCast Developer's YP(β)
      main.container
        block content
        .push
    footer.container
      .row-fluid
        .span12
          p.pull-right
            span.muted.pull-right © 2013 <a href='https://twitter.com/progremaster'>ぷろぐれ</a>. All rights reserved
          p このサイトを利用して発生したいかなる問題もサイト運営者は責任を負いません
          //a(href='terms.html') 利用規約
