extends layout

block content
  p
    |PeerCastを起動して、ボタンを押してください
  p
    .input-append
      input.span1(type='number', min=1, max=65535, value=7144)
      button.btn ポートチェック
  table.table
    tr
      th.span1
      th.span9 Channel
      th.span1 Status
      th.span1 Type
    - each channel in channels
      tr
        td(style='text-align: center')
          |<br>
          a(title='TCPポートを開放してポートチェックをクリックしてください') <del>Play</del>
          // img(width=64,height=64,src='https://si0.twimg.com/profile_images/2750510672/43dd290bc6b670c4622fb96f6fa309a7.png')
        td
          div
              |#{channel[0]}<br>
              |[#{channel[4]} - #{channel[5]}]<br>
              |「#{channel[17]}」
        td(style='text-align: center')
          |#{channel[6]} / #{channel[7]}<!--<br>
          |(..) Stats<br> -->
          |#{channel[15]}
        td(style='text-align: center')
          |#{channel[9]}<br>
          |#{channel[8]} kbps<!--<br>
          |Free -->
