extends layout

block content
  .form-horizontal
    .control-group
      .control-label ポート:
      .controls
        input#port-input.input-small(type='number', min=1, max=65535, value=7144)
  table.table
    tr
      th.span1
      th.span9 Channel
      th.span1 Status
      th.span1 Type
    - each channel in channels
      tr
        td(style='text-align: center')
          |<br>
          - if (channel.id !== '00000000000000000000000000000000')
            a.play(href='http://localhost:7144/pls/#{channel.id}?tip=#{channel.host.ip}') Play
            // img(width=64,height=64,src='https://si0.twimg.com/profile_images/2750510672/43dd290bc6b670c4622fb96f6fa309a7.png')
          - else
            |-
        td
          div
            a(href=channel.info.url) #{channel.info.name}<br>
            |[#{channel.info.genre} - #{channel.info.desc}]<br>
            |「#{channel.info.comment}」
        td(style='text-align: center')
          |#{channel.host.listeners} / #{channel.host.relays}<br>
          <!--|(..) Stats<br> -->
          |#{channel.time}
        td(style='text-align: center')
          |#{channel.info.type}<br>
          |#{channel.info.bitrate} kbps<!--<br>
          |Free -->

  script.
    var portInput = $('#port-input');
    portInput.change(function(a) {
      setPort($(this).val());
    });
    portInput.keyup(function(a) {
      portInput.change();
    });
    portInput.mouseup(function(a) {
      portInput.change();
    });

    function setPort(port) {
      $('.play').each(function() {
        var play = $(this);
        play.attr('href', play.attr('href').replace(/localhost:.*\//, 'localhost:' + port + '/'));
      });
    }